@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:  3% 0;
    color: white;
    font-size:25px ;
}
.background-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.wrapper h1{
    margin-bottom: 30px;
}

#btn{
    margin-top: 20px;
    padding:10px  40px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
}
#btn:hover{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
}

#height , #weight{
    margin-left:30px ;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 40px;
    outline: none;
    padding-left:10px ;
    width: 7cm;
    font-size: 20px;
    animation: slide-up 1.8s ;
}

#output{
    margin-top: 25px;
    margin-bottom: -10px;
}

.wrapper{
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(5, 5, 5, 0.61);
    padding: 3% 7%;
    animation: zoom-up 2s;
}
@keyframes zoom-up{
    0%{
        transform: scale(1.3) ;opacity: 0;
    }
    100%{
        transform: scale(1);
    }
}
@media(max-aspect-ratio: 16/9) {
    .background-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9) {
    .background-video{
        width: auto;
        height: 100%;
    }
}